<div class="section">
    <div class="container">
      <div class="cadre">
        <div class="section-title2">
          <h2>Fiche de suivis</h2>
        </div>
      </div>
      <div class="cadre">
        <div class="section-title">
          <h2>Régime</h2>
        </div>
      </div>
      <div class="cadre">
        <div class="section-title">
          <h2>Activités</h2>
        </div>
      </div>
      <div class="cadre">
        <div class="section-title">
          <h2>Analyses</h2>
        </div>
      </div>
      <div class="cadre">
        <div class="section-title">
          <h2>Rendez-vous</h2>
            <div style="right: auto;">
                <button  class="appointment-btn" (click)="AddRendezVous()">Ajouter un rendez-vous</button>

            </div>
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>
  </div>
  