<div class="regimeList">
    
    <div class="section-title">
      <h2>Liste des Régimes</h2>
    </div>
    <button mat-fab color="primary" class="add-button" (click)="openAddRegimeDialog()">
        <mat-icon>add</mat-icon>
      </button>
    <div class="regime-table">
      <table mat-table [dataSource]="regimes" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
        <!-- Quantity Fruit Column -->
        <ng-container matColumnDef="quantityFruit">
          <th mat-header-cell *matHeaderCellDef> Quantité de Fruits </th>
          <td mat-cell *matCellDef="let element"> {{element.quantityFruit}} </td>
        </ng-container>
  
        <!-- Quantity Vegetable Column -->
        <ng-container matColumnDef="quantityVegetable">
          <th mat-header-cell *matHeaderCellDef> Quantité de Légumes </th>
          <td mat-cell *matCellDef="let element"> {{element.quantityVegetable}} </td>
        </ng-container>
  
        <!-- Quantity Protein Column -->
        <ng-container matColumnDef="quantityProtein">
          <th mat-header-cell *matHeaderCellDef> Quantité de Protéines </th>
          <td mat-cell *matCellDef="let element"> {{element.quantityProtein}} </td>
        </ng-container>
  
        <!-- Quantity Cereal Column -->
        <ng-container matColumnDef="quantityCereal">
          <th mat-header-cell *matHeaderCellDef> Quantité de Céréales </th>
          <td mat-cell *matCellDef="let element"> {{element.quantityCereal}} </td>
        </ng-container>
  
        <!-- Forbidden Column -->
        <ng-container matColumnDef="forbidden">
          <th mat-header-cell *matHeaderCellDef> Interdits </th>
          <td mat-cell *matCellDef="let element"> {{element.forbidden}} </td>
        </ng-container>
  
        <!-- Complement Column -->
        <ng-container matColumnDef="complement">
          <th mat-header-cell *matHeaderCellDef> Complément </th>
          <td mat-cell *matCellDef="let element"> {{element.complement}} </td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openEditRegimeDialog(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openConfirmationDialogDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
   
  </div>
  